.coating-container .coating-nav-links {
  display: flex;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent items from wrapping */
  text-wrap: nowrap;
  scrollbar-width: none;
}
.coating-container .coating-nav-links li {
  /* background: var(--blue); */
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  flex-shrink: 0;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease;
}
.coating-card img {
  width: 100%;
  aspect-ratio: 4/2;
  /* height: 8rem; */
  object-fit: cover;
}
