/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .nav-discount-tagline {
    display: none !important;
  }
  .nav-links {
    margin: auto;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 786px) {
  header {
    padding-bottom: 10px;
  }
  .nav-links {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 88%;
    height: 100vh !important;
    background: #fff;
    z-index: 11111 !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: 0px 1px 4px 0px #000;
  }
  .nav-links ul {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .nav-discount-tagline {
    margin: auto;
  }
  .header-search-bar {
    display: none !important;
  }
  .nav-phone {
    display: none !important;
  }
  .nav-account p {
    display: none !important;
  }
  .nav-divider {
    display: none !important;
  }
  .nav-contact-info svg {
    font-size: 1.5rem !important;
  }
  nav {
    margin-top: 4rem !important;
    padding: 5px !important;
    /* height: 80vh !important; */
  }
  .nav-discount-tagline p {
    font-size: 11px;
  }
  .logo img {
    width: 10rem !important;
  }
  .main-container {
    padding: 0 10px !important;
  }
}
